<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>Reportes</h2>
	</div>
	<div class="col-lg-2">
		
	</div>
</div>
<br><br>
<div class="row wrapper animated fadeIn" ng-controller="mainReportsCtrl as reports">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Búsqueda</h3>
				</div>
				<div class="ibox-content">
					<form class="form-horizontal" ng-submit="reports.generate_report()">
						<div class="form-group">
							<div class="col-md-12">
								<div class="col-xs-12 col-md-3">
									<input date-range-picker type="text" class="form-control date-picker" ng-model="report.dates" placeholder="Rango de fechas">
								</div>
								<div class="col-xs-12 col-md-2">
									<select class="form-control" ng-model="report.to_look">
									  <option value="0">Todos</option>
									  <option value="1">Facturación</option>
									  <option value="2">Entradas/Salidas</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-3">
									<select class="form-control" ng-model="report.turn">
										<option ng-repeat="turn in turns" value="{{turn.id}}">{{turn.name}}</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-3">
									<select class="form-control" ng-model="report.user">
										<option ng-repeat="user in users" value="{{user.id}}"
										>{{user.name}}</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-1">
									<input type="submit" class="btn btn-success" value="Buscar">
								</div>								
							</div>
						</div>
					</form>
				</div>
			</div>			
		</div>
	</div>
</div>