<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Nuevo plan para propietarios</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper animated fadeIn" ng-controller="newPlanCtrl as newPlan">
    <div class="col-lg-12">
    	<div class="ibox">
    			
    	</div>
    	<div class="ibox-content">
            <br>
            <!-- Confirmation Messages -->
            <div class="alert alert-success" ng-show="successMsg" role="alert">
                <button type="button" class="close" ng-click="successMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Éxito!</strong> Plan creado satisfactoriamente. <strong><a href="#/plans/plans_index">Volver</a></strong>
            </div>

            <!-- Error Messages -->
            <div class="alert alert-warning" ng-show="errorMsg" role="alert">
                <button type="button" class="close" ng-click="errorMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Error!</strong> Plan no pudo ser creado. 
            </div>
            <!-- Creating Form -->
    		<form class="form-horizontal" name="newPlanForm" novalidate ng-submit="newPlan.newPlan(plan)">

    			<div class="form-group">
    				<label for="plan_name" class="col-sm-4 control-label">Nombre: </label>
    				<div class="col-sm-6">
    					<input type="text" class="form-control" id="plan_name" ng-model="plan.name" autofocus required>
    				</div>
    			</div>

                <div class="form-group">
                    <label for="type_of" class="col-sm-4 control-label">Tipo de plan: </label>
                    <div class="col-sm-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="type_of" ng-model="plan.plan_type_by_days" id="days_type" ng-value="true">
                                Por días
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type_of" ng-model="plan.plan_type_by_days" id="hours_type" ng-value="false">
                                Por horas
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="quantity" class="col-sm-4 control-label">Cantidad: </label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="quantity" ng-model="plan.quantity" required ng-pattern="/^[1-9][0-9]*$/">  
                    </div>
                </div>

                <div class="form-group">
                    <label for="price" class="col-sm-4 control-label">Precio: </label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" id="price" ng-model="plan.price" required ng-minlength="4" ng-pattern="/^[1-9][0-9]*$/">
                        </div>
                    </div>
                </div>


    			<div class="form-group">
    				<div class="col-sm-4 col-sm-offset-4">
    					<button type="submit" class="btn btn-primary btn-block" ng-disabled="newPlanForm.$invalid">Guardar</button>
    				</div>	
    			</div>

    		</form>		
    	</div>
    </div>
</div>
<br>
<br>
<br>