<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Planes y tarifas</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper">
		<button class="btn btn-primary btn-lg" type="button" ui-sref="plans.new">Nuevo Plan</button>
	</div>	
</div>
<div class="row wrapper animated fadeIn" ng-controller="plansMainCtrl as plansMain">
    	<div class="col-lg-12">
    		<div class="ibox">
    			
    		</div>
    		<div class="ibox-content">
    			<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" >
						<thead>
							<tr>
								<th class="text-center">No.</th>
								<th class="text-center">Plan</th>
								<th class="text-center">Descripción</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="plan in plans">
								<td class="text-center">{{$index + 1}}</td>
								<td class="text-center">{{plan.name}}</td>
								<td class="text-center">Cantidad: {{plan.quantity}}. Precio: ${{plan.price}}</td>
								<td class="text-center">
									<a href="#/plans/plans_edit/{{plan.id}}" class="btn btn-success">Editar</a>
									<a ng-show="plan.active" class="btn btn-danger" ng-click="plansMain.activate($index, plan.id, plan.active)">Desactivar</a>
									<a ng-show="!plan.active" class="btn btn-warning" ng-click="plansMain.activate($index, plan.id, plan.active)">Activar</a>
								</td>
							</tr>
						</tbody>
					</table>    				
    			</div>
    		</div>
    	</div>
</div>
<br>
<br>
<br>
