<fieldset class="animated bounceInRight">
    <h2>Placas asociadas</h2>
    <br>
    <div class="row">
    	<div class="col-sm-4 col-sm-offset-4">	
    		<div class="form-group">
				<div class="input-group">

					<input type="text" class="form-control text-uppercase" placeholder="Placa" ng-model="ownerData.new_plate_chars" name="plate_chars" required id="plate_chars" ng-minlength="6" ng-maxlength="6" ng-focus="editOwner.invalidData()" ng-pattern="/[a-z,A-Z]{3}[0-9]{3}/">

					<span class="input-group-btn"> <a class="btn btn-primary" ng-disabled="editForm.plate_chars.$error.required || !editForm.plate_chars.$valid" ng-click="editForm.plate_chars.$valid && editOwner.addPlate()">Agregar</a> </span>

				</div>
				<br>						
				
		        <div class="alert alert-danger" ng-show="invalidData" role="alert">
		           	<strong>¡Atención!</strong> Placa ya agregada.
		        </div>

		        <div class="alert alert-danger" ng-show="registeredPlate" role="alert">
					<strong>¡Atención!</strong> Propietario ya tiene registrado esta placa.
				</div>

				<div class="alert alert-danger" ng-show="plateInDb" role="alert">
					<strong>¡Atención!</strong> Placa registrada en el sistema por otro propietario.
				</div>
			</div>
    	</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h5><strong>Nuevas placas</strong></h5>
	    	<table class="table table-bordered table-hover table-striped" >
				<thead>
					<tr>
						<th class="text-center">No.</th>
						<th class="text-center">Placa</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plate in newPlates track by plate">
						<td class="text-center">{{$index + 1}}</td>
						<td class="text-center">{{plate}}</td>
						<td class="text-center"><a ng-click="editOwner.removePlate(index)" class="btn btn-success">Quitar</a></td>
					</tr>
				</tbody>
			</table>
			
			<h5><strong>Placas Registradas</strong></h5>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center">No.</th>
						<th class="text-center">Placa</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plate in ownerData.plates">
						<td class="text-center">{{$index + 1}}</td>
						<td class="text-center">{{plate.plate_chars}}</td>
						<td class="text-center"><a class="btn btn-success">Bloquear</a></td>
					</tr>					
				</tbody>
			</table> 
		</div>   
    </div>
    <div class="row">
    	<div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
				<button type="button" class="btn btn-primary btn-block" id="submitNewForm" ng-click="editOwner.updateOwner()" ng-disabled="disabledSubmit">Guardar</button>
			</div>  
		</div>
    </div>
</fieldset>
