<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Nuevo cobro</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper" ng-controller="newInvoiceCtrl as newInvoice">
	<div class="col-lg-12">
		<div class="ibox">
	        <div class="ibox-content">
	        	<form class="form-horizontal" name="searchForm" novalidate>
	        		<div class="form-group">
	        			<label for="type_of_search" class="col-sm-3 control-label">Buscar por: </label>
	        			<div class="col-sm-3">
	        				<select name="type_of_search" id="type_of_search" class="form-control" ng-model="type_of_search">
	        					<option value="">--Seleccione una opción--</option>
	        					<option value="1">Placa</option>
	        					<option value="2">Cédula</option>
	        				</select>
	        			</div>
	        			<div class="col-sm-3">
	        				<input type="input" placeholder="Valor" id="value_to_search" name="value_to_search" ng-model="value_to_search" class="form-control" autofocus required>
	        			</div>
	        			<div class="col-sm-3">
	        				<input type="submit" class="btn btn-primary" ng-click="valid && newInvoice.searchToInvoice(type_of_search, value_to_search)" ng-disabled="!valid" value="Buscar">
	        			</div>
	        		</div>
	        	</form>
	        </div>            
        </div>
	</div>
	<!-- Display owner data -->
	<div class="col-lg-12" ng-show="owner && !visitor">
		<div class="ibox">
			<div class="ibox-title">
				<h3>Propietario</h3>
			</div>
			<div class="ibox-content">
				<h2 ng-show="owner_data.active">
					<div class="alert alert-success alert-dismissible" role="alert">
	                    <strong>Usuario Activo</strong><br>
	                    <h3><strong>Fecha y hora de vencimiento: </strong>{{owner_data.validity.end_validity_date}}</h3>
	                </div>				
				</h2>
				<h2 ng-show="!owner_data.active">
					<div class="alert alert-danger alert-dismissible" role="alert">
	                    <strong>Usuario Inactivo</strong>
	                    <h3><strong>Fecha y hora de vencimiento: </strong>{{owner_data.validity.end_validity_date}}</h3>
	                </div>
				</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th class="text-center">Nombre Completo</th>
								<th class="text-center">Cédula</th>
								<th class="text-center">Categoría</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">{{owner_data.first_name}} {{owner_data.last_name}}</td>
								<td class="text-center">{{owner_data.country_id}}</td>
								<td class="text-center">{{owner_data.owner_category.name}}</td>
								<td class="text-center"><a class="btn btn-success">Detalles</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="ibox">
			<div class="ibox-title">
				<h3>Añadir plan a usuario</h3>
			</div>
			<div class="ibox-content">
				<div class="row">					
					<form class="form-horizontal" name="addPlanForm">
		        		<div class="form-group">
		        			<label for="plan" class="col-sm-4 control-label">Plan: </label>
		        			<div class="col-sm-4">
		        				<select name="plan" id="plan" class="form-control" ng-options="plan as plan.name for plan in plans track by plan.id" ng-model="plans.selected">
	                        	</select>
		        			</div>
		        		</div>
		        	</form>
		        </div>
		        <div class="row">
		        	<div class="col-sm-10 col-sm-offset-1">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Detalles de la compra</h3>
							</div>
							<div class="panel-body">
								<p><strong>Tipo de plan: </strong> <span ng-show="plans.selected.plan_type_by_days">Por días.</span><span ng-show="!plans.selected.plan_type_by_days">Por horas.</span></p>
								<p><strong>Cantidad: </strong>{{plans.selected.quantity}}.</p>
								<h2><strong>Valor: </strong>$ {{plans.selected.price}}</h2>
								<br>
								<h3 ng-show="plans.selected.plan_type_by_days"><strong>Vence: </strong>{{newInvoice.validUntil(plans.selected.plan_type_by_days, plans.selected.quantity)}}</h3>
							</div>
						</div>		        		
		        	</div>
				</div>
				<div class="row">					
					<div class="col-sm-4 col-sm-offset-4">
						<button class="btn btn-block btn-success btn-lg" ng-click="newInvoice.invoice(owner_data.id, plans.selected.id)"><strong>FACTURAR</strong></button>					
					</div>
				</div>
			</div>
		</div>
		<div class="ibox" ng-hide="true">
			<div class="ibox-title">
				<h3>Recarga de plan a usuario</h3>
			</div>
			<div class="ibox-content">
				
			</div>
		</div>
	</div>
	<!-- Display visitor entry data -->
	<div class="col-lg-12" ng-show="visitor && !owner">
		<div class="ibox">
			<div class="ibox-title">
				<h3>Placa</h3>
			</div>
			<div class="ibox-content">
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
