<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Facturación</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper" ng-controller="invoicesMainCtrl as invoices">
	<div class="pull-left">
		<button class="btn btn-primary btn-lg" type="button" ui-sref="invoices.new">Nuevo cobro</button>
	</div>
	<div class="pull-right">
		<form action="#" class="form-inline" name="searchForm">
			<div class="form-group">
				<div class="input-group">
					<input type="numeric" class="form-control input-lg" placeholder="Cédula" ng-model="country_id" name="country_id" required ng-minlength="7">

					<span class="input-group-btn"> <button type="button" class="btn btn-primary btn-lg" ng-click="searchForm.country_id.$valid && invoices.searchOwner(country_id)" ng-disabled="searchForm.country_id.$error.required || !searchForm.country_id.$valid">Buscar</button> </span>
				</div>							
			</div>			
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="col-lg-12">
		<div class="ibox">
			<div class="ibox-title">
				<h3>Facturación a particulares</h3>
			</div>
			<div class="ibox-content">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th class="text-center">No.</th>
								<th class="text-center">Número de factura</th>
								<th class="text-center">Total</th>
								<th class="text-center">Placa</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="invoice in invoices_visitors">
								<td class="text-center">{{$index+1}}</td>
								<td class="text-center">{{invoice.invoice_number}}</td>
								<td class="text-center">$ {{invoice.total_charge}}</td>
								<td class="text-center">{{invoice.description.plate}}</td>
								<td class="text-center"><a class="btn btn-success">Detalles</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    	<div class="ibox">
    		<div class="ibox-title">
    			<h3>Facturación a propietarios</h3>
    		</div>
	    	<div class="ibox-content">
	    		<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" >
						<thead>
							<tr>
								<th class="text-center">No.</th>
								<th class="text-center">Factura</th>
								<th class="text-center">Nombres y Apellidos</th>
								<th class="text-center">Placas</th>
								<th class="text-center">Valor</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="invoice in invoices_owners">
								<td class="text-center">{{$index + 1}}</td>
								<td class="text-center">{{invoice.invoice_number}}</td>
								<td class="text-center">{{invoice.description.owner_full_name}}</td>
								<td class="text-center">
									<span ng-repeat="plate in invoice.description.plates">
										{{plate}} <br>
									</span> 
								</td>
								<td class="text-center">{{invoice.total_charge}}</td>
								<td class="text-center">
									<a class="btn btn-success">Detalles</a>
								</td>
							</tr>
						</tbody>
					</table>    			
	    		</div>
	    	</div>
    	</div>
    </div>	
</div>