<style>
    /* Extra small devices (phones, less than 768px) */
    /* No media query since this is the default in Bootstrap */
    body{
        background-color: white;
    }
    #logo{
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        font: 0/0 serif;
        text-shadow: none;
        color: transparent;
        background-size: 70%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("http://{{url}}/img/big_logo.png");        
    }

    #logo .inner{
        padding-top: 31.25%;
        display: block;
        height: 0;
        
    }

    @media (max-width: 768px) {
       #logo{
            background-size: 100%;
            background-image: url("http://{{url}}/img/logo.png");
        }
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {

    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {

    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {

    }
</style>
<br>
<br>
<div id="loginForm" class="animated fadeInDown">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <span id="logo" role="img" aria-label="Tecnoparking">
                    <span class="inner"></span>
                </span>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <h3>Bienvenido a Tecnoparking</h3>
                <form novalidate class="m-t" role="form" ng-submit="main.login()" name="loginForm">

                    <!-- E-mail and Password not valid -->
                    <div class="alert alert-danger" ng-hide="invalidData" role="alert">
                      <strong>¡Atención!</strong> Correo o contraseña incorrecto.
                    </div>

                    <!-- Email Input -->
                    <div class="form-group has-feedback">
                        <input id="email" type="email" class="form-control center-block" placeholder="E-mail" ng-model="user.email" required name="emailInput" ng-pattern="EMAIL_REGEX">
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.emailInput.$valid"></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.emailInput.$dirty && !loginForm.emailInput.$valid"></i>
                    </div>

                    <!-- Password Input -->
                    <div class="form-group has-feedback">
                        <input id="password" type="password" class="form-control center-block" placeholder="Contraseña" ng-model="user.password" ng-minlength="8" name="passwordInput" required>
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.passwordInput.$valid"></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.passwordInput.$dirty && !loginForm.passwordInput.$valid"></i>
                    </div>

                    <!-- Submit Button and Forgot your password link -->
                    <button type="submit" class="btn btn-primary block center-block m-b" id="btnLogin" ng-disabled="loginForm.$invalid">Ingresar</button>
                    <a ui-sref="forgot_password"><small>¿Olvidó su contraseña?</small></a>
                    <br>
                    <div class="sk-spinner sk-spinner-wave" ng-show="spinner">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </form>            
            </div>            
        </div>
    </div>
</div>