<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>¡Hola, {{current_user.first_name}}!</strong> Bienvenido a Tecnoparking.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Entries -->
            <div class="row" ng-controller="entriesCtrl as entries">
                <div class="faq-item">
                    <div class="row"><div class="col-lg-1"><h3>Entradas</h3></div></div>
                    <br>
                    <div class="row">
                        <div class="col-lg-1 text-center">
                            <strong>No.</strong>                
                        </div>
                        <div class="col-lg-4 text-center">
                            <strong>Fecha y Hora de Entrada</strong>
                        </div>
                        <div class="col-lg-1 text-center">
                            <strong>Placa</strong>
                        </div>           
                        <div class="col-lg-2 text-center">
                            <strong>Segmento</strong>
                        </div>     
                        <div class="col-lg-2 text-center">
                            <strong>Estado</strong>
                        </div>
                        <div class="col-lg-2 text-center">
                            <strong>Acciones</strong>
                        </div>
                    </div>
                </div>
                <div class="faq-item" ng-repeat="entry in entries">
                    <div class="row">                
                        <div class="col-lg-1 text-center">
                            {{$index + 1}}                
                        </div>
                        <div class="col-lg-4 text-center">
                            <a ng-click="entry1 = !entry1" ng-init="entry1 = true">
                                {{entry.created_at}}                                
                            </a>
                        </div>
                        <div class="col-lg-1 text-center" id="plate{{$index + 1}}">
                            {{entry.plate.plate_chars}}
                        </div>           
                        <div class="col-lg-2 text-center">
                            <img src="http://www.inbogota.com/bogota/imagenes/placa-servicio-publico.gif" alt="segmento" height="50px" width="105px">
                        </div>     
                        <div class="col-lg-2 text-center">
                            <span class="label label-success" ng-show="entry.paid"><strong>Facturado</strong></span><span class="label label-primary" ng-show="!entry.paid"><strong>Parqueado</strong></span>
                        </div>
                        <div class="col-lg-2 text-center">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div collapse="entry1" class="panel-collapse collapse">
                                <div class="faq-answer">
                                    <a href={{entry.photo_url}}>
                                        <img src="{{entry.photo_url}}" alt="entry" height="350px" width="540px">
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>

        </div>        
    </div>
</div>