
<div class="inmodal">
    <div class="modal-header">
        <h2 class="modal-title">Ticket No.</h2>
        <form ng-submit="searchBarcode(barcode_to_search)" class="form" ng-hide="lector">
            <div class="form-group has-success">
                <div class="input-group col-lg-4 col-lg-offset-4">
                    <input type="text" class="form-control input-lg" ng-model="barcode_to_search" autofocus>
                    
                    <span class="input-group-btn"> <button type="submit" class="btn btn-primary btn-outline btn-lg" ng-disabled="barcode_to_search == null || barcode_to_search.length != 10"><i class="fa fa-search"></i></button> </span>
                </div>                          
            </div>
        </form>
        <!-- <h2>{{ barcode }}</h2> -->
        <br>
        <img id="barcode_img">
        
    </div>
    <div ng-show="barcode_searched">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-8">
                    <p>Fecha y Hora de Ingreso: </p>
                    <h2><strong>{{ entry_date }}</strong></h2>
                </div>
                <div class="col-lg-4">
                    <p>Tiempo: </p>
                    <h2><strong>{{ amount_of_time }}</strong></h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="http://www.inbogota.com/bogota/imagenes/placa-servicio-publico.gif" alt="segmento" height="50px" width="105px">                    
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group has-success">
                                <div class="input-group">
                                    <input id="plate_to_correct_input" type="text" class="form-control input-lg" ng-model="plate" autofocus placeholder="Placa" ng-disabled="exit_plate">
                                </div>                          
                            </div>                    
                        </div>                   
                    </div>
                    <br>
                    <div id="total_to_pay" style="display: none;">
                        <p>Total: </p>
                        <h1><strong>$ {{ total_to_pay }} pesos.</strong></h1>                       
                    </div>
                </div>
                <div class="col-lg-4">
                                        
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-6 col-lg-offset-3">
                <button id="check_btn" type="button" class="btn btn-success btn-block btn-lg" ng-click="ok()" disabled ng-model="plate"><strong ng-show="!generate_exit">Cobrar</strong><strong ng-show="generate_exit">Generar ticket de salida</strong></button>
            </div>
        </div>        
    </div>
</div>

