<fieldset class="animated bounceInLeft">
    <h2>Información Personal</h2>
    <div class="row">
                <div class="form-group">
                    <label for="type_of_input" class="col-sm-4 control-label">Categoría: </label>
                    <div class="col-sm-6">
                        <select name="type_of_input" id="type_of_input" class="form-control" ng-options="category as category.name for category in ownerCategoriesData track by category.id" ng-model="ownerCategoriesData.selected">
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="first_name_input" class="col-sm-4 control-label">Nombres: </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="first_name_input" autofocus ng-model="new.first_name" required name="first_name">
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="!newForm.first_name.$error.required"></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.first_name.$dirty && newForm.first_name.$error.required"></i>                        
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="last_name_input" class="col-sm-4 control-label">Apellidos: </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="last_name_input" ng-model="new.last_name" required name="last_name">
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="!newForm.last_name.$error.required"></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.last_name.$dirty && newForm.last_name.$error.required"></i>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="country_id_input" class="col-sm-4 control-label">Cédula: </label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="country_id_input" ng-model="new.country_id" required name="country_id" ng-minlength="7" ng-change='newOwner.checkUniqueness(new.country_id)'>
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.country_id.$valid && !checkUniquenessInput" ></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.country_id.$dirty && (!newForm.country_id.$valid || checkUniquenessInput)"></i>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="address_input" class="col-sm-4 control-label">Dirección: </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="address_input" ng-model="new.address" required name="address">
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.address.$valid" ></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.address.$dirty && !newForm.address.$valid"></i>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="phone_number_input" class="col-sm-4 control-label">Teléfono: </label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="phone_number_input" ng-model="new.phone_number" required name="phone_number" ng-minlength="7" ng-maxlength="10">
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.phone_number.$valid" ></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.phone_number.$dirty && !newForm.phone_number.$valid"></i>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="email_input" class="col-sm-4 control-label">E-mail: </label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email_input" ng-model="new.email" required name="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                        <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.email.$valid" ></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.email.$dirty && !newForm.email.$valid" ></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="position_input" class="col-sm-4 control-label">Cargo: </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="position_input" ng-model="new.position" name="position">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="button" class="btn btn-primary btn-block" ui-sref="owners.new.step_two" ng-disabled="newForm.$invalid || checkUniquenessInput">Siguiente</button>
                    </div>  
                </div>
    </div>
</fieldset>
