<fieldset class="animated bounceInRight">
    <h2>Placas asociadas</h2>
    <br>
    <div class="row">
    	<div class="col-sm-4 col-sm-offset-4">	
    		<div class="form-group">
				<div class="input-group">

					<input type="text" class="form-control text-uppercase" placeholder="Placa" ng-model="new.plate_chars" name="plate_chars" required id="plate_chars" ng-focus="newOwner.change()" ng-minlength="6" ng-maxlength="6" ng-pattern="/[a-z,A-Z]{3}[0-9]{3}/">

					<span class="input-group-btn"> <a class="btn btn-primary" ng-disabled="newForm.plate_chars.$error.required || !newForm.plate_chars.$valid" ng-click="newForm.plate_chars.$valid && newOwner.addPlate(new.plate_chars.toUpperCase())">Agregar</a> </span>

				</div>
				<br>						
				
		        <div class="alert alert-danger" ng-show="invalidData" role="alert">
		           	<strong>¡Atención!</strong> Placa ya agregada.
		        </div>
				
				<div class="alert alert-danger" ng-show="plateInDb" role="alert">
					<strong>¡Atención!</strong> Placa registrada en el sistema por otro propietario.
				</div>

			</div>
    	</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
	    	<table class="table table-bordered table-hover table-striped" >
				<thead>
					<tr>
						<th class="text-center">No.</th>
						<th class="text-center">Placa</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plate in new.plates track by plate">
						<td class="text-center">{{$index + 1}}</td>
						<td class="text-center">{{plate}}</td>
						<td class="text-center"><a ng-click="newOwner.removePlate(plate)" class="btn btn-success">Quitar</a></td>

					</tr>
				</tbody>
			</table> 
		</div>   
    </div>
    <div class="row">
    	<div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
				<button type="button" class="btn btn-primary btn-block" id="submitNewForm" ng-click="newOwner.newOwner()" ng-disabled="disabledSubmit">Guardar</button>
			</div>  
		</div>
    </div>
</fieldset>
