<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Placas Registradas</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper">
	<div class="pull-left">
		<button class="btn btn-primary btn-lg" type="button" ui-sref="plates.new">Nueva placa</button>
	</div>
	<div class="pull-right">
		<form class="form-inline" name="searchForm">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control text-uppercase" placeholder="Placa" ng-model="plate_chars" name="plate_chars" required id="plate_chars" ng-minlength="6" ng-maxlength="6" ng-pattern="/[a-z,A-Z]{3}[0-9]{3}/">
					<span class="input-group-btn"> <a class="btn btn-primary" ng-disabled="searchForm.plate_chars.$error.required || !searchForm.plate_chars.$valid" ng-click="searchForm.plate_chars.$valid">Buscar</a> </span>
				</div>							
			</div>			
		</form>
	</div>	
</div>
<div class="row wrapper animated fadeIn" ng-controller="platesMainCtrl as plates">
    	<div class="col-lg-12">
    		<div class="ibox">
    			
    		</div>
    		<div class="ibox-content">
    			<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" >
						<thead>
							<tr>
								<th class="text-center">No.</th>
								<th class="text-center">Placa</th>
								<th class="text-center">Propietario</th>
								<th class="text-center">Categoría</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="plate in platesCollection">
								<td class="text-center">{{$index+1}}</td>
								<td class="text-center">{{plate.plate_chars}}</td>
								<td class="text-center">{{plate.owner.owner_full_name}}</td>
								<td class="text-center">{{plate.owner.owner_category}}</td>
								<td class="text-center">
									<a class="btn btn-danger" ng-show="plate.active" ng-click="plates.blockPlate($index, plate.id, plate.active)">Bloquear</a>
									<a class="btn btn-warning" ng-show="!plate.active" ng-click="plates.blockPlate($index, plate.id, plate.active)">Desbloquear</a>
								</td>
							</tr>
						</tbody>
					</table>    				
    			</div>
    		</div>
    	</div>
</div>