<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Registro de nueva placa</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper animated fadeIn" ng-controller="platesNewCtrl as newPlate">
    <div class="col-lg-12">
    	<div class="ibox">
    			
    	</div>
    	<div class="ibox-content">
            <br>
            <!-- Confirmation Messages -->
            <div class="alert alert-success" ng-show="successMsg" role="alert">
                <button type="button" class="close" ng-click="successMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Éxito!</strong> Placa registrada satisfactoriamente <strong><a href="#/plates/plates_index">Volver</a></strong>
            </div>

            <!-- Error Messages -->
            <div class="alert alert-warning" ng-show="errorMsg" role="alert">
                <button type="button" class="close" ng-click="errorMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Error!</strong> Placa no pudo ser registrada.
            </div>

            <!-- Searching Form -->
    		<form class="form-horizontal" name="searchForm" novalidate>
    			<!-- First search for a specific owner by country_id -->
				<div class="row">
			    	<div class="col-sm-4 col-sm-offset-4">	
			    		<div class="form-group">
							<div class="input-group">

								<input type="numeric" class="form-control" placeholder="Cédula" ng-model="country_id" name="country_id" required ng-minlength="7" id="country_id">

								<span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-disabled="searchForm.country_id.$error.required || !searchForm.country_id.$valid" ng-click="newPlate.findOwner(country_id)">Buscar</a> </span>
							</div>						
						</div>
			    	</div>
				</div>
			</form>
			<!-- OwnerData -->
			<div class="row" ng-show="ownerData">
				<!-- Personal Data -->
				<div class="row">					
					<div class="col-sm-10 col-sm-offset-1">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <strong>Información del propietario</strong>
							</div>
                            <div class="panel-body">
								<div class="col-sm-6">
									<p><strong>Nombre completo: </strong></p>
                                	<p><h2>{{ownerData.name}} {{ownerData.lastname}} </h2></p>
                                	<p><strong>Dirección: </strong></p>
                                	<p><h2>{{ownerData.address}}</h2></p>
                                	<p><strong>E-mail: </strong></p>
                                	<p><h2>{{ownerData.email}}</h2></p>
								</div>
								<div class="col-sm-4">
									<p><strong>Cédula: </strong></p>
                                	<p><h2>{{ownerData.country_id}}</h2></p>
                                	<p><strong>Teléfono: </strong></p>
                                	<p><h2>{{ownerData.phone_number}}</h2></p>
                                	<p><strong>Categoría: </strong></p>
                                	<p><h2>{{ownerCategoriesData[ownerData.owner_category_id - 1].name}}</h2></p>
								</div>
								<div class="col-sm-2">
									<i class="fa fa-user fa-5x"></i>
								</div>                                
							</div>
                        </div>
                    </div>
				</div>
				<!-- Add plate form -->
			    <div class="row">
			    	<div class="col-sm-4 col-sm-offset-4">
			    		<form class="form-horizontal" name="addPlate" novalidate>
				    		<div class="form-group">
								<div class="input-group">

									<input type="text" class="form-control text-uppercase" placeholder="Placa" ng-model="ownerData.new_plate_chars" name="plate_chars" required id="plate_chars" ng-minlength="6" ng-maxlength="6" ng-focus="newPlate.invalidData()" ng-pattern="/[a-z,A-Z]{3}[0-9]{3}/">

									<span class="input-group-btn"> <a class="btn btn-primary" ng-disabled="addPlate.plate_chars.$error.required || !addPlate.plate_chars.$valid" ng-click="addPlate.plate_chars.$valid && newPlate.addPlate(ownerData.new_plate_chars)">Agregar</a> </span>

								</div>
								<br>						
								
						        <div class="alert alert-danger" ng-show="invalidData" role="alert">
						           	<strong>¡Atención!</strong> Placa ya agregada.
						        </div>

						        <div class="alert alert-danger" ng-show="registeredPlate" role="alert">
						           	<strong>¡Atención!</strong> Propietario ya tiene registrado esta placa.
						        </div>

						        <div class="alert alert-danger" ng-show="plateInDb" role="alert">
						           	<strong>¡Atención!</strong> Placa registrada en el sistema por otro propietario.
						        </div>
							</div>			    			
			    		</form>	
			    	</div>
				</div>
				<!-- Owner's Plates -->
				<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<h5><strong>Nuevas placas</strong></h5>
					    	<table class="table table-bordered table-hover table-striped" >
								<thead>
									<tr>
										<th class="text-center">No.</th>
										<th class="text-center">Placa</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="plate in plates track by plate">
										<td class="text-center">{{$index + 1}}</td>
										<td class="text-center">{{plate}}</td>
										<td class="text-center"><a ng-click="newPlate.removePlate(index)" class="btn btn-success">Quitar</a></td>
									</tr>
								</tbody>
							</table>
							
							<h5><strong>Placas Registradas</strong></h5>
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th class="text-center">No.</th>
										<th class="text-center">Placa</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="plate in ownerData.plates">
										<td class="text-center">{{$index + 1}}</td>
										<td class="text-center">{{plate.plate_chars}}</td>
										<td class="text-center"><a class="btn btn-success">Bloquear</a></td>
									</tr>					
								</tbody>
							</table> 
						</div>   
				</div>
				<!-- Submit Button -->
				<div class="row">
			    	<div class="form-group">
			            <div class="col-sm-4 col-sm-offset-4">
							<button type="button" class="btn btn-primary btn-block" id="submitNewForm" ng-click="newPlate.newPlate()" ng-disabled="disabledSubmit">Guardar</button>
						</div>  
					</div>
			    </div>
    		</div>	
    	</div>
    </div>
</div>
<br>
<br>
<br>
<br>