<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Configuraciones del sistema</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper animated fadeIn" ng-controller="configMainCtrl as config">
	<div class="row">
		<div class="col-lg-12">
			<a href="" class="btn btn-success btn-lg" ui-sref="configs.main_cameras">Cámaras Certificadas</a>			
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Datos de parqueadero</h3>		
				</div>
				<div class="ibox-content">
					<form class="form-horizontal" ng-submit="config.save_setting(parking_setting)">
						<div class="form-group">
							<label for="company_name" class="col-sm-3 control-label">Empresa: </label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="company_name" placeholder="Empresa quien factura" ng-model="parking_setting.company_name">
							</div>
						</div>
						<div class="form-group">
							<label for="nit" class="col-sm-3 control-label">NIT: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="nit" placeholder="NIT" ng-model="parking_setting.nit"></div>
						</div>
						<div class="form-group">
							<label for="parking_name" class="col-sm-3 control-label">Parqueadero: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="parking_name" placeholder="Nombre de parqueadero" ng-model="parking_setting.parking_name"></div>
						</div>
						<div class="form-group">
							<label for="phone_number" class="col-sm-3 control-label">Teléfono: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="phone_number" placeholder="Número de teléfono" ng-model="parking_setting.phone_number"></div>
						</div>
						<div class="form-group">
							<label for="dian_resolution" class="col-sm-3 control-label">Resolución de DIAN: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="dian_resolution" placeholder="Resolución de DIAN" ng-model="parking_setting.dian_resolution"></div>
						</div>
						<div class="form-group">
							<label for="autorized_date" class="col-sm-3 control-label">Fecha de autorización: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="autorized_date" placeholder="Fecha de autorización" ng-model="parking_setting.autorized_date"></div>
						</div>
						<div class="form-group">
							<label for="iva" class="col-sm-3 control-label">IVA (%): </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="iva" placeholder="IVA" ng-model="parking_setting.iva"></div>
						</div>
						<div class="form-group">
							<label for="minutes_to_exit" class="col-sm-3 control-label">Minutos extras: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="minutes_to_exit" placeholder="Minutos para que carro salga después de pagar." ng-model="parking_setting.minutes_to_exit"></div>
						</div>
						<div class="form-group">
							<label for="entries" class="col-sm-3 control-label">Entradas: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="entries" placeholder="Entradas a parqueadero" ng-model="parking_setting.entries"></div>
						</div>
						<div class="form-group">
							<label for="exits" class="col-sm-3 control-label">Salidas: </label>
							<div class="col-sm-7"><input type="text" class="form-control" id="exits" placeholder="Salidas de parqueadero" ng-model="parking_setting.exits"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-4">
								<input type="submit" class="btn btn-primary btn-block" value="Guardar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>		
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Accesos de parqueadero</h3>
				</div>
				<div class="ibox-content">
					<h3>Entradas</h3>
					<div class="faq-item">
						<div class="row">
							<div class="col-lg-1 text-center">
								<strong>No.</strong>
							</div>
							<div class="col-lg-4 text-center">
								<strong>Descripción</strong>
							</div>
						</div>
					</div>
					<div class="faq-item" ng-repeat="entry in parking_entries">
						<div class="row">
							<div class="col-lg-1 text-center">
								{{ $index + 1 }}
							</div>
							<div class="col-lg-4 text-center">
								<a ng-click="entry_access = !entry_access" ng-init="entry_access = true">
									{{ entry.description }}									
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div collapse="entry_access" class="panel-collapse collapse">
									<div class="faq-answer">
										<div class="row">
											<div class="col-lg-8">
												<h3>Información de cámara</h3>
												<form class="form-horizontal" ng-submit="config.save_access(entry)">
													<div class="form-group">
														<label for="camera_desc" class="col-sm-2 control-label">Descripción:</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="camera_desc" placeholder="Descripción de acceso" ng-model="entry.description">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">Cámara:</label>
														<div class="col-sm-10">											
															<select id="entry{{$index}}" name="camera_ref_id" class="form-control" ng-model="entry.camera_ref_id">
																<option ng-repeat="option in cameras_refs" value="{{option.id}}" ng-selected="option.id == entry.camera_ref_id">{{option.brand}} - {{option.reference}}</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label for="camera_username" class="col-sm-2 control-label">Username:</label>
														<div class="col-sm-4">
															<input type="text" class="form-control" id="camera_username" placeholder="Username de cámara" ng-model="entry.username">
														</div>
														<label for="camera_password" class="col-sm-2 control-label">Password:</label>
														<div class="col-sm-4">
															<input type="text" class="form-control" id="camera_password" placeholder="Password de cámara" ng-model="entry.password">
														</div>
													</div>
													<div class="form-group">
														<label for="camera_ip_address" class="col-sm-2 control-label">Ip:</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="camera_ip_address" placeholder="Dirección IP de cámara" ng-model="entry.ip_address">
														</div>
														<label for="camera_port" class="col-sm-2 control-label">Puerto:</label>
														<div class="col-sm-2">
															<input type="text" class="form-control" id="camera_port" placeholder="" ng-model="entry.port">
														</div>
													</div>											
													<div class="form-group">
														<div class="col-sm-4 col-sm-offset-4">
															<input type="submit" class="btn btn-primary btn-block" value="Guardar">
														</div>
													</div>												
												</form>											
											</div>
											<div class="col-lg-4">
												<h3>Preview</h3>
												<div class="well">
													<br>
													<br>
													<br>
													<br>
													<br>
													<br>
													<br>
													<br>													
												</div>
												<div class="col-sm-8 col-sm-offset-2">
													<a class="btn btn-danger btn-block">Desactivar</a>													
												</div>
											</div>											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<h3>Salidas</h3>
					<div class="faq-item">
						<div class="row">
							<div class="col-lg-1 text-center">
								<strong>No.</strong>
							</div>
							<div class="col-lg-4 text-center">
								<strong>Descripción</strong>
							</div>
						</div>
					</div>
					<div class="faq-item" ng-repeat="exit in parking_exits">
						<div class="row">
							<div class="col-lg-1 text-center">
								{{ $index + 1 }}
							</div>
							<div class="col-lg-4 text-center">
								<a ng-click="exit_access = !exit_access" ng-init="exit_access = true">
									{{ exit.description }}
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div collapse="exit_access" class="panel-collapse collapse">
									<div class="faq-answer">
										<div class="row">
											<div class="col-lg-8">
												<h3>Información de cámara</h3>
												<form class="form-horizontal" ng-submit="config.save_access(exit)">
													<div class="form-group">
														<label for="camera_desc" class="col-sm-2 control-label">Descripción:</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="camera_desc" placeholder="Descripción de acceso" ng-model="exit.description">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">Cámara:</label>
														<div class="col-sm-10">
															<select id="exit{{$index}}" class="form-control" ng-model="exit.camera_ref_id">
																<option ng-repeat="option in cameras_refs" value="{{option.id}}" ng-selected="option.id == exit.camera_ref_id">{{option.brand}} - {{option.reference}}</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label for="camera_username" class="col-sm-2 control-label">Username:</label>
														<div class="col-sm-4">
															<input type="text" class="form-control" id="camera_username" placeholder="Username de cámara" ng-model="exit.username">
														</div>
														<label for="camera_password" class="col-sm-2 control-label">Password:</label>
														<div class="col-sm-4">
															<input type="text" class="form-control" id="camera_password" placeholder="Password de cámara" ng-model="exit.password">
														</div>
													</div>
													<div class="form-group">
														<label for="camera_ip_address" class="col-sm-2 control-label">Ip:</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="camera_ip_address" placeholder="Dirección IP de cámara" ng-model="exit.ip_address">
														</div>
														<label for="camera_port" class="col-sm-2 control-label">Puerto:</label>
														<div class="col-sm-2">
															<input type="text" class="form-control" id="camera_port" placeholder="" ng-model="exit.port">
														</div>
													</div>											
													<div class="form-group">
														<div class="col-sm-4 col-sm-offset-4">
															<input type="submit" class="btn btn-primary btn-block" value="Guardar">
														</div>
													</div>												
												</form>											
											</div>
											<div class="col-lg-4">
												<h3>Preview</h3>
												<div class="well">
													<br>
													<br>
													<br>
													<br>
													<br>
													<br>
													<br>
													<br>													
												</div>
												<div class="col-sm-8 col-sm-offset-2">
													<a class="btn btn-danger btn-block">Desactivar</a>													
												</div>
											</div>											
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>