<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Cámaras</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row wrapper animated fadeIn" ng-controller="camerasMainCtrl as cameras">
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-success btn-lg" ui-sref="configs.new_camera">Nueva cámara</a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Cámaras certificadas</h3>					
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th class="text-center">No.</th>
									<th class="text-center">Marca</th>
									<th class="text-center">Referencia</th>
									<th class="text-center">Path</th>
									<th class="text-center">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="camera in cameras_refs">
									<td class="text-center">{{$index + 1}}</td>
									<td class="text-center">{{camera.brand}}</td>
									<td class="text-center">{{camera.reference}}</td>
									<td class="text-center">{{camera.path}}</td>
									<td class="text-center">
										<a href="" class="btn btn-success">Editar</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>