<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Nueva cámara</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row wrapper animated fadeIn" ng-controller="newCameraCtrl as newCamera">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Datos de cámara</h3>
				</div>
				<div class="ibox-content">
					<form class="form-horizontal" ng-submit="newCamera.save_camera()" name="new_camera">
						<div class="form-group">
							<label for="brand" class="col-sm-3 control-label">Marca: </label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Marca de cámara" auto-complete ui-items="brands" required ng-model="camera.brand">
							</div>
						</div>
						<div class="form-group">
							<label for="reference" class="col-sm-3 control-label">Referencia: </label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="reference" placeholder="Referencia de cámara" required ng-model="camera.reference">
							</div>
						</div>
						<div class="form-group">
							<label for="path" class="col-sm-3 control-label">Path: </label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="path" placeholder="Ruta para streaming" required ng-model="camera.path">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-4">
								<input type="submit" class="btn btn-primary btn-block" value="Guardar" ng-disabled="new_camera.$invalid">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>