<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    TP
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="invoices.main"><i class="fa fa-money"></i><span class="nav-label">Facturación</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="owners.main"><i class="fa fa-users"></i><span class="nav-label">Propietarios registrados</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="plates.main"><i class="fa fa-car"></i><span class="nav-label">Placas registradas</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="plans.main"><i class="fa fa-th-list"></i> <span class="nav-label">Planes y Tarifas</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="users.main"><i class="fa fa-user"></i> <span class="nav-label">Usuarios</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="turns_and_schedules.main">
                    <i class="fa fa-calendar"></i><span class="nav-label">Turnos y horarios</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="reports.main">
                    <i class="fa fa-line-chart"></i><span class="nav-label">Reportes</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="configs.main"><i class="fa fa-cog"></i> <span class="nav-label">Configuraciones</span></a>
            </li>
        </ul>

    </div>
</nav>