<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <button type="button" class="btn btn-warning" ng-click="open1('lg', false)" id="new_charge">Nuevo Cobro</button>
            </li>
            <li class="dropdown" dropdown>

                <a class="dropdown-toggle count-info " href dropdown-toggle style="padding:10px;">
                    <img src="img/a1.jpg" alt="Perfil" class="img-circle" style="height: 45px; width: 45px;"> 
                    {{" " + current_user.first_name + " " + current_user.last_name + " "}}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated fadeIn m-t-xs">
                    <li><a href="#/users/users_edit/{{current_user.id}}">Editar perfil</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="main.logout()">Cerrar sesión</a></li>
                </ul>   
            </li>
        </ul>

    </nav>
</div>