<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Usuarios del Sistema</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper">
	<div class="pull-left">
		<button class="btn btn-success btn-lg" type="button" ui-sref="users.categories">Categorías</button>
		<button class="btn btn-primary btn-lg" type="button" ui-sref="users.new">Nuevo usuario</button>
	</div>
	<div class="pull-right">
		<form action="#" class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="Cédula"><span class="input-group-btn"> <button type="button" class="btn btn-primary btn-lg">Buscar</button> </span>
				</div>							
			</div>			
		</form>
	</div>	
</div>
<div class="row wrapper animated fadeIn" ng-controller="usersMainCtrl as users">
    	<div class="col-lg-12">
    		<div class="ibox">
    			
    		</div>
    		<div class="ibox-content">
    			<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" >
						<thead>
							<tr>
								<th class="text-center">No.</th>
								<th class="text-center">Categoría</th>
								<th class="text-center">Nombres y Apellidos</th>
								<th class="text-center">E-mail</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in usersCollection">
								<td class="text-center">{{$index+1}}</td>
								<td class="text-center">{{user.user_category.category_name}}</td>
								<td class="text-center">{{user.first_name}} {{user.last_name}}</td>
								<td class="text-center">{{user.email}}</td>
								<td class="text-center">
									<a href="#/users/users_edit/{{user.id}}" class="btn btn-success">Editar</a>
									<a ng-click="users.blockUser($index, user.id, user.active)" ng-show="user.active" class="btn btn-danger">Bloquear</a>
									<a ng-click="users.blockUser($index, user.id, user.active)" ng-hide="user.active" class="btn btn-primary">Desbloquear</a>
								</td>
							</tr>
						</tbody>
					</table>     				
    			</div>
    		</div>
    	</div>
</div>