<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Usuarios del Sistema > Nuevo  </h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper animated fadeIn" ng-controller="usersNewCtrl as newUser">
    <div class="col-lg-12">
    	<div class="ibox">
            <div class="ibox-title">
                <h3>Datos personales</h3>
            </div>
        	<div class="ibox-content">
                <br>
                <!-- Confirmation Messages -->
                <div class="alert alert-success col-md-6 col-md-offset-3 text-center" ng-show="successMsg" role="alert">
                    <button type="button" class="close" ng-click="successMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>¡Éxito!</strong> Usuario creado satisfactoriamente. <strong><a href="#/users/users_index">Volver</a></strong>
                </div>

                <!-- Error Messages -->
                <div class="alert alert-danger col-md-6 col-md-offset-3 text-center" ng-show="errorMsg" role="alert">
                    <button type="button" class="close" ng-click="errorMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>¡Error!</strong> Usuario no pudo ser creado. 
                </div>

                <!-- Creating Form -->
        		<form ng-submit="newUser.newUser()" class="form-horizontal" name="newForm">
                    <div class="form-group">
                        <label for="type_of_input" class="col-sm-4 control-label">Tipo de Usuario: </label>
                        <div class="col-sm-6">
                            <select name="type_of_input" id="type_of_input" class="form-control" ng-options="category as category.name for category in userCategoriesData track by category.id" ng-model="userCategoriesData.selected">
                            </select>
                        </div>
                    </div>
        			<div class="form-group has-feedback">
        				<label for="first_name_input" class="col-sm-4 control-label">Nombres: </label>
        				<div class="col-sm-6">
        					<input type="text" class="form-control" id="first_name_input" autofocus ng-model="new.first_name" required name="first_name">
                            <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="!newForm.first_name.$error.required"></i>
                            <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.first_name.$dirty && newForm.first_name.$error.required"></i>                        
        				</div>
        			</div>
        			<div class="form-group has-feedback">
        				<label for="last_name_input" class="col-sm-4 control-label">Apellidos: </label>
        				<div class="col-sm-6">
        					<input type="text" class="form-control" id="last_name_input" ng-model="new.last_name" required name="last_name">
                            <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="!newForm.last_name.$error.required"></i>
                            <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.last_name.$dirty && newForm.last_name.$error.required"></i>
        				</div>
        			</div>
        			<div class="form-group has-feedback">
        				<label for="country_id_input" class="col-sm-4 control-label">Cédula: </label>
        				<div class="col-sm-6">
        					<input type="text" class="form-control" id="country_id_input" ng-model="new.country_id" required name="country_id" ng-minlength="7">
                            <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.country_id.$valid" ></i>
                            <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.country_id.$dirty && !newForm.country_id.$valid"></i>
        				</div>
        			</div>
        			<div class="form-group has-feedback">
        				<label for="email_input" class="col-sm-4 control-label">E-mail: </label>
        				<div class="col-sm-6">
        					<input type="email" class="form-control" id="email_input" ng-model="new.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required name="email">
                            <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.email.$valid"></i>
                            <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.email.$dirty && !newForm.email.$valid"></i>
        				</div>
        			</div>
        			<div class="form-group has-feedback">
        				<label for="password_input" class="col-sm-4 control-label">Contraseña: </label>
        				<div class="col-sm-6">
        					<input type="password" class="form-control" name="password_input" id="password_input" ng-model="password" ng-minlength="8" required>
                            <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.password_input.$valid"></i>
                            <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.password_input.$dirty && !newForm.password_input.$valid"></i>
        				</div>
        			</div>
        			<div class="form-group has-feedback">
        				<label for="confirmation_input" class="col-sm-4 control-label">Confirmación de contraseña: </label>
        				<div class="col-sm-6">
        					<input type="password" class="form-control" name="confirmation_input" id="confirmation_input" ng-model="confirmation" ng-minlength="8" required>
                            <i class="glyphicon glyphicon-ok form-control-feedback" ng-show="newForm.confirmation_input.$valid"></i>
                            <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="newForm.confirmation_input.$dirty && !newForm.confirmation_input.$valid"></i>
        				</div>                    
        			</div>
        			<div class="form-group">
        				<div class="col-sm-4 col-sm-offset-4">
        					<button type="submit" class="btn btn-primary btn-block" ng-disabled="newForm.$invalid"><strong>Guardar</strong></button>
        				</div>	
        			</div>
        		</form>		
        	</div>                
        </div>
    </div>
    <br><br>
</div>
<br>
<br>