<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Edición de propietario de vehículo</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper animated fadeIn" ng-controller="editOwnerCtrl as editOwner">
    <div class="col-lg-12">
    	<div class="ibox">
    			
    	</div>

    	<div class="ibox-content wizard">
            <!-- Confirmation Messages -->
            <div class="alert alert-success" ng-show="successMsg" role="alert">
                <button type="button" class="close" ng-click="successMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Éxito!</strong> Propietario actualizado satisfactoriamente. <strong><a href="#/owners/owners_index">Volver</a></strong>
            </div>

            <!-- Error Messages -->
            <div class="alert alert-warning" ng-show="errorMsg" role="alert">
                <button type="button" class="close" ng-click="errorMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Error!</strong> Propietario no pudo ser editado. 
            </div>
            <div class="steps clearfix">
                <ul>
                    <li ui-sref-active="current">
                        <a ui-sref=".step_one" class="btn-default"><span>1.</span> Datos personales</a>
                    </li>
                    <li ui-sref-active="current" id="step2Li">
                        <a ui-sref=".step_two" class="btn-default" id="step2Btn" ><span>2.</span> Placas</a>
                    </li>
                </ul>  
            </div>
            <!-- Formulario -->	
            <div class="wizard">
                <div class="content">
                    <form class="form-horizontal p-lg" name="editForm" novalidate>
                        <div id="form-views" ui-view></div>
                    </form>
                </div>
            </div>
    	</div>
    </div>
</div>