<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Propietarios registrados</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper" ng-controller="ownersMainCtrl as owners">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-left">
				<button class="btn btn-success btn-lg" type="button" ui-sref="owners.categories">Categorías</button>
				<button class="btn btn-primary btn-lg" type="button" ui-sref="owners.new.step_one">Nuevo propietario</button>
			</div>
			<div class="pull-right">
				<form class="form-inline" name="searchForm" ng-submit="owners.searchOwner(country_id)">
					<div class="form-group">
						<div class="input-group">
							<input type="numeric" class="form-control input-lg" placeholder="Cédula" ng-model="country_id" name="country_id" required ng-minlength="7">
		 
							<span class="input-group-btn"> <input type="submit" class="btn btn-primary btn-lg" ng-click="searchForm.country_id.$valid" ng-disabled="searchForm.country_id.$error.required || !searchForm.country_id.$valid" value="Buscar"> </span>
						</div>							
					</div>			
				</form>
			</div>		
		</div>		
	</div>
	<br><br>	
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped" >
							<thead>
								<tr>
									<th class="text-center">No.</th>
									<th class="text-center">Categoría</th>
									<th class="text-center">Nombres y Apellidos</th>
									<th class="text-center">Cédula</th>
									<th class="text-center">Teléfono</th>
									<th class="text-center">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="owner in ownersCollection">
									<td class="text-center">{{$index+1}}</td>
									<td class="text-center">{{owner.owner_category.name}}</td>
									<td class="text-center">{{owner.first_name}} {{owner.last_name}}</td>
									<td class="text-center">{{owner.country_id}}</td>
									<td class="text-center">{{owner.phone_number}}</td>
									<td class="text-center">
										<a href="#/owners/owners_edit/{{owner.id}}/step_one" class="btn btn-success">Edición</a>
										<a ng-click="owners.blockOwner(owner.id, owner.active)" ng-show="owner.active" class="btn btn-danger">Bloquear</a>
										<a ng-click="owners.blockOwner(owner.id, owner.active)" ng-hide="owner.active" class="btn btn-primary">Desbloquear</a>
									</td>
								</tr>
							</tbody>
						</table>    				
					</div>				
				</div>
			</div>
		</div>		
	</div>
</div>