<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Registro de nuevo propietario.</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper animated fadeIn" ng-controller="ownersNewCtrl as newOwner">
    <div class="col-lg-12">
    	<div class="ibox">
    	</div>
        <!-- Divs para el wizard de propietarios y placas. -->
        <div class="ibox-content wizard">
            <!-- Pasos del wizard  -->
            <div class="steps clearfix">
                <ul>
                    <li ui-sref-active="current">
                        <a ui-sref=".step_one" class="btn-default"><span>1.</span> Datos personales</a>
                    </li>
                    <li ui-sref-active="current" id="step2Li">
                        <a ui-sref=".step_two" class="btn-default" id="step2Btn" ><span>2.</span> Placas</a>
                    </li>    
                </ul>
            </div>
            <!-- Formulario -->
            <div class="wizard">
                <div class="content">
                    <form class="form-horizontal p-lg" name="newForm" novalidate autocomplete="off">
                        <div id="form-views" ui-view></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>