<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>Turnos y horarios</h2>
	</div>
	<div class="col-lg-2"></div>
</div>
<br>
<div class="row-wrapper animated fadeIn">
	<div class="row" ng-controller="CalendarCtrl as calendar">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Horarios</h3>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-12">
							<a class="btn btn-success" ng-click="calendar.new_schedule()">Nuevo horario</a>
                        	<a class="btn btn-primary" ui-sref="turns_and_schedules.turns">Turnos</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-2">
									<div class="btn-group" role="group" aria-label="...">
										<a class="btn btn-default btn-xs" role="button" ng-click="calendar.prev_month()"><span class="fc-text-arrow"><</span></a>
										<a class="btn btn-default btn-xs" role="button" ng-click="calendar.next_month()"><span class="fc-text-arrow">></span></a>
									</div>
								</div>
								<div class="col-lg-8">
									<h3 class="text-center">{{calendar_title}}</h3>									
								</div>
								
							</div>
							<br>
							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<table class="table table-bordered" id="myCalendar">
											<style>	
												#myCalendar td{
													height: 100px;
													width:  100px;
												}
											</style>
											<thead>
												<tr>
													<th class="text-center">Domingo</th>
													<th class="text-center">Lunes</th>
													<th class="text-center">Martes</th>
													<th class="text-center">Miércoles</th>
													<th class="text-center">Jueves</th>
													<th class="text-center">Viernes</th>
													<th class="text-center">Sábado</th>
												</tr>
											</thead>
											<tbody>
												<style>
													.event{
														background-color: #1ab394;
														padding: 3px 3px;
														color: white;
														margin: 1px 0;
													}
												</style>
												<tr ng-repeat="x in times">
													<td ng-class="{'success':the_date.getMonth() == x[0].number[1] && (the_date.getDate()) == x[0].number[2]}">
														<p class="text-right">{{x[0].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[0].events">{{event}}</h6>
													</td>
													<td ng-class="{'success':the_date.getMonth() == x[1].number[1] && (the_date.getDate()) == x[1].number[2]}">
														<p class="text-right">{{x[1].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[1].events">{{event}}</h6>
													</td>
													<td ng-class="{'success':the_date.getMonth() == x[2].number[1] && (the_date.getDate()) == x[2].number[2]}">
														<p class="text-right">{{x[2].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[2].events">{{event}}</h6>
													</td>
													<td ng-class="{'success':the_date.getMonth() == x[3].number[1] && (the_date.getDate()) == x[3].number[2]}">
														<p class="text-right">{{x[3].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[3].events">{{event}}</h6>
													</td>
													<td ng-class="{'success':the_date.getMonth() == x[4].number[1] && (the_date.getDate()) == x[4].number[2]}">
														<p class="text-right">{{x[4].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[4].events">{{event}}</h6>
													</td>
													<td ng-class="{'success':the_date.getMonth() == x[5].number[1] && (the_date.getDate()) == x[5].number[2]}">
														<p class="text-right">{{x[5].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[5].events">{{event}}</h6>
													</td>
													<td ng-class="{'success':the_date.getMonth() == x[6].number[1] && (the_date.getDate()) == x[6].number[2]}">
														<p class="text-right">{{x[6].number[2]}}</p>
														<h6 class="text-left event" ng-repeat="event in x[6].events">{{event}}</h6>
													</td>
												</tr>
											</tbody>
										</table>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>