<div class="inmodal">
    <div class="modal-header">
        <h2>Nuevo horario</h2>
    </div>
    <form class="form-horizontal" ng-submit="ok(schedule)">
    <div class="modal-body">
            <div class="form-group">
                <label for="day" class="col-xs-12 col-md-2 control-label">Día:</label>
                <div class="col-xs-12 col-md-9">
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="schedule.operation_date" />
                </div>
            </div>
            <div class="form-group" ng-repeat="turn in turns">
                <label class="col-xs-12 col-md-2 control-label">Turno {{$index + 1}}:</label>
                <div class="col-xs-12 col-md-3">
                    <input class="form-control" type="text" value="De {{turn.initial_time}} a {{turn.final_time}}" disabled ng-init="schedule.turns[$index] = turn.id">
                </div>
                <label class="col-xs-12 col-md-2 control-label">responsable</label>
                <div class="col-xs-12 col-md-4">
                    <select class="form-control" ng-model="schedule.users[$index]">
                        <option ng-repeat="user in users" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                    </select>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-3">
                <button type="button" class="btn btn-white" ng-click="cancel()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>               
            </div>
        </div>                
    </div>
    </form>
</div>

