<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>Turnos y horarios</h2>
	</div>
	<div class="col-lg-2"></div>
</div>
<br>
<div class="row-wrapper animated fadeIn" ng-controller="turnsAndSchedulesMainCtrl as turnsAndSchedules">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>Turnos de parqueadero <a ui-sref="turns_and_schedules.main"><small>volver</small></a></h3>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-4">
							<form class="form-horizontal" ng-submit="turnsAndSchedules.set_turns(turns_count)">
								<div class="form-group">
									<label for="turns" class="col-sm-1 control-label">Turnos:</label>
									<div class="col-sm-2">
										<input type="number" min="0" class="form-control" id="turns" placeholder="Cantidad de turnos en el día" ng-model="turns_count">
									</div>
									<div class="col-sm-3">
										<input type="submit" class="btn btn-info" value="Guardar">					
									</div>
								</div>
							</form>							
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-striped" id="turns">
									<thead>
										<tr>
											<th class="text-center">No.</th>
											<th class="text-center">Hora Inicial</th>
											<th class="text-center">Hora Final</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="turn in turns">
											<td class="text-center">{{$index+1}}</td>
											<td class="text-center">
												<div class="input-group" clock-picker data-autoclose="true">
									                <input type="text" class="form-control" ng-model="turn.initial_time">
									                <span class="input-group-addon">
									                    <span class="fa fa-clock-o"></span>
									                </span>
									            </div>
											</td>
											<td class="text-center">
												<div class="input-group" clock-picker data-autoclose="true">
									                <input type="text" class="form-control" ng-model="turn.final_time">
									                <span class="input-group-addon">
									                    <span class="fa fa-clock-o"></span>
									                </span>
									            </div>
											</td>
											<td class="text-center"><a class="btn btn-success" ng-click="turnsAndSchedules.save_turn_hours(turn)">Guardar</a></td>
										</tr>
									</tbody>
								</table>
							</div>						
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>