<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Categorías de Usuarios de Sistemas</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br>
<div class="row wrapper">
	<div class="pull-left">
		<button class="btn btn-success btn-lg" type="button" ui-sref="owners.main">Usuarios</button>
		<button class="btn btn-primary btn-lg" type="button" ui-sref="owners.new_category">Nueva categoría</button>
	</div>	
</div>
<div class="row wrapper animated fadeIn" ng-controller="ownersCategoriesMainCtrl as categories">
    	<div class="col-lg-12">
    		<div class="ibox">
    			
    		</div>
    		<div class="ibox-content">
    			<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" >
						<thead>
							<tr>
								<th class="text-center">No.</th>
								<th class="text-center">Categoría</th>
								<th class="text-center">Descripción</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="category in categoriesCollection">
								<td class="text-center">{{$index+1}}</td>
								<td class="text-center">{{category.name}}</td>
								<td class="text-center">{{category.description}}</td>
								<td class="text-center">
									<a href="#/owners/owner_edit_category/{{category.id}}" class="btn btn-success">Editar</a>
								</td>
							</tr>
						</tbody>
						<tbody>
						</tbody>
					</table>    				
    			</div>
    		</div>
    	</div>
</div>