<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>Edición de categoría de propietarios</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper animated fadeIn" ng-controller="ownersCategoriesEditCtrl as editCategory">
    <div class="col-lg-12">
    	<div class="ibox">
    			
    	</div>
    	<div class="ibox-content">
            <br>
            <!-- Confirmation Messages -->
            <div class="alert alert-success" ng-show="successMsg" role="alert">
                <button type="button" class="close" ng-click="successMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Éxito!</strong> Categoría actualizada satisfactoriamente. <strong><a href="#/owners/owner_categories_index">Volver</a></strong>
            </div>

            <!-- Error Messages -->
            <div class="alert alert-warning" ng-show="errorMsg" role="alert">
                <button type="button" class="close" ng-click="errorMsg=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Error!</strong> Categoría no pudo ser actualizar. 
            </div>
            <!-- Creating Form -->
    		<form ng-submit="editCategory.editCategory()" class="form-horizontal" name="newForm">

    			<div class="form-group">
    				<label for="category_name_input" class="col-sm-4 control-label">Nombre: </label>
    				<div class="col-sm-6">
    					<input type="text" class="form-control" id="category_name_input" autofocus ng-model="category_name" required>
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="category_description_input" class="col-sm-4 control-label">Descripción: </label>
    				<div class="col-sm-6">
    					<textarea class="form-control" id="category_description_input" ng-model="category_description" style="resize: none;" rows="5"></textarea>
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="col-sm-4 col-sm-offset-4">
    					<button type="submit" class="btn btn-primary btn-block" ng-disabled="newForm.$invalid">Guardar</button>
    				</div>	
    			</div>
    		</form>		
    	</div>
    </div>
</div>